/*
|--------------------------------------------------------------------------
| Basic Settings
|--------------------------------------------------------------------------
*/

*{
	margin:0;
	padding:0;
	color:white;
	font-family: 'Alice', serif;
	/*border: 1px solid black;*/
}

/*body{
	background-color: black;
}*/

/*
|--------------------------------------------------------------------------
| Landing Page
|--------------------------------------------------------------------------
*/

#landing{
	height:100vh;
	width:100%;
	background-color: black;
	color:white;
}

#question, #answer{
	text-align: center;
}

#question{
	font-size: 40px;
}

.button{
	text-align: center;
	padding:20px;
	display: inline-block;
	margin:0 auto;
	background-color: #222;
	font-size: 30px;
	width:30%;
}

/*
|--------------------------------------------------------------------------
| Character Select
|--------------------------------------------------------------------------
*/

#select{
	height:100vh;
	width:100%;
	background-color: black;
	color:white;
	display: none;
}

#enemy-select, #ally-select{
	height: 35vh;
	background-color:#333;
	display:flex;
	justify-content: space-between;
	align-content:space-between;
	flex-wrap: wrap;
}

#option{
	height:30vh;
}

.ally-select-square{
	width:19%;
	background-color: gray;
	height:48%;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	position: relative;
}

.ally-select-square:hover::after, .enemy-select-square:hover::after{
	content:"";
	background:rgba(0,0,0,.4);
	width:100%;
	height:100%;
	position: absolute;
}

.ally-select-square:hover::before, .enemy-select-square:hover::before{
	width:100%;
	text-align: center;
	background:rgba(0,0,0,.6);
	padding:5% 0;
	z-index:10;
}

.enemy-select-square{
	width:30%;
	height:95%;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color:gray;
	font-size: 20px;
	position: relative;
}

/*
|--------------------------------------------------------------------------
| Name Select
|--------------------------------------------------------------------------
*/

.enter-name{
	height:40%;
	text-align:center;
	/*display:flex;*/
	/*justify-content: space-around;*/
	/*align-content: space-around;*/
}

#party-name{
	display:flex;
	justify-content: space-around;
}

#submit{
	text-align: center;
	height:20%;
	background-color:#777;
}

label{
	display:block;
	font-size:20px;
	padding:5px;
}

input, #submit-button{
	padding:5px 10px;
	background-color:#555;
	color:white;
	font-size:16px;
}

#submit-button{
	background-color: #333;
	height:60%;
	display: inline-block;
}

.selected{
	/*background-color:gray;*/
}

.selected::after{
	content:"Selected";
	width: 100%;
	/*text-align: center;*/
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	background-color: rgba(0,0,0,7);
	z-index: 100;
}

/*
|--------------------------------------------------------------------------
| Elements
|--------------------------------------------------------------------------
*/

.fire{
	font-weight: bold;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Mars_symbol.svg/2000px-Mars_symbol.svg.png"), linear-gradient(135deg, rgba(255,2,2,1) 0%, rgba(108,0,0,1) 100%);
	background-size:100% 100%;
	/*background-color:linear-gradient(135deg, rgba(255,2,2,1) 0%, rgba(108,0,0,1) 100%);*/
}

.fire:hover::before{
	content:"Fire";
}

.water{
	background-image: url("https://sciencenotes.org/wp-content/uploads/2014/06/Alchemy_water.png");
	background-color:blue;
	background-size:100% 100%;
}

.water:hover::before{
	content:"Water";
}

.air{
	background-image: url("https://sciencenotes.org/wp-content/uploads/2014/06/Alchemy_Air.png"), linear-gradient(135deg, rgba(255,243,247,1) 0%, rgba(209,145,232,1) 100%);
	/*background-color:gray;*/
	background-size:100% 100%;
}

.air:hover::before{
	content:"Air";
}

.earth{
	background-image: url("https://sciencenotes.org/wp-content/uploads/2014/06/Alchemy_Earth.png"), linear-gradient(135deg, rgba(186,100,80,1) 0%, rgba(56,24,16,1) 100%);
	/*background-color:brown;*/
	background-size:100% 100%;
}

.earth:hover::before{
	content:"Earth";
}

.ice{
	background-image: url("https://sciencenotes.org/wp-content/uploads/2014/06/Alchemy_fire.png"), linear-gradient(135deg, rgba(107,250,255,1) 0%, rgba(0,170,176,1) 100%);
	/*background-color:lightblue;*/
	background-size:100% 100%;
}

.ice:hover::before{
	content:"Ice";
}

.thunder{
	background-image: url("https://sciencenotes.org/wp-content/uploads/2014/06/Alchemy_fire.png");
	background-color:yellow;
	background-size:100% 100%;
}

.thunder:hover::before{
	content:"Thunder";
}

.wood{
	background-image: url("https://sciencenotes.org/wp-content/uploads/2014/06/Alchemy_fire.png");
	background-color:green;
	background-size:100% 100%;
}

.wood:hover::before{
	content:"Wood";
}

.metal{
	background-image: url("https://sciencenotes.org/wp-content/uploads/2014/06/Alchemy_fire.png");
	background-color:#222;
	background-size:100% 100%;
}

.metal:hover::before{
	content:"Metal";
}

.light{
	background-image: url("https://sciencenotes.org/wp-content/uploads/2014/06/Alchemy_fire.png");
	background-color:white;
	background-size:100% 100%;
}

.light:hover::before{
	content:"Light";
}

.dark{
	background-image: url("img/moon.png");
	background-color:black;
	background-size:100% 100%;
}

.dark:hover::before{
	content:"Dark";
	color:black;
	background-color: rgba(255,255,255,.6);
}

.dark:hover::after{
	background: rgba(255,255,255,.2);
}

/*
|--------------------------------------------------------------------------
| Bosses
|--------------------------------------------------------------------------
*/

.abraxes-symbol{
	background-image: url("http://78.media.tumblr.com/bf161b60e0f21b2fa81f7c4ddd19ad95/tumblr_mjgommKO8N1qevfrto1_500.png"), linear-gradient(to right, #dd1818, #333333);
	background-size:100% 100%;
}

.abraxes-symbol:hover::before{
	content:"Abraxes";
}

.goetia-symbol{
	background-image: url("https://openclipart.org/download/263888/Draclroborous.svg"), linear-gradient(to right, #0f0c29, #302b63, #24243e);
	background-size:100% 100%;
}

.goetia-symbol:hover::before{
	content:"Goetia";
}

.demiurge-symbol{
	background-image: url("https://cdn4.iconfinder.com/data/icons/illuminati/154/sign-eye-label-illuminati-sect-pyramid-512.png"), linear-gradient(to right, #f0f2f0, #000c40);
	background-size:100% 100%;
}

.demiurge-symbol:hover::before{
	content:"Demiurge";
}

/*
|--------------------------------------------------------------------------
| Battle Main
|--------------------------------------------------------------------------
*/

#battle{
	/*position:absolute;*/
	width: 100%;
	display:none;
}

#meters{
	height:10vh;
	background-color: black;
	display: flex;
	justify-content: space-between;
}

#battlefield{
	height:70vh;
	background:url(img/space.jpg);
	background-size: 100% 100%;
	display: flex;
	justify-content: flex-start;
}

#message{
	background:rgba(0,0,0,.5);
	height:10vh;
	width: 100%;
	/*margin: 0 auto;*/
	position: absolute;
	bottom: 20%;
	text-align: center;
	font-size: 30px;
	display: none;
	/*border: 1px solid white;*/
}

#status{
	height:20vh;
	background-color: black;
	display:flex;
	justify-content: space-between;
}

/*
|--------------------------------------------------------------------------
| Enemy
|--------------------------------------------------------------------------
*/

#enemy-meter{
	width:60%;
	/*background: gray;*/
}

.HP-meter-enemy, .MP-meter-enemy{
	height:25%;
}

.name-boss{
	height:50%;
	font-size:20px;
}

.HP-meter-enemy{
	width:100%;
}

.MP-meter-enemy{
	display:flex;
	justify-content: space-between;
	width:100%;
}

.boss-progress, .boss-counter{
	height:100%;
}

.boss-counter{
	width:30%;
	/*background-color: blue;*/
	text-align: center;
}

.name-boss{
	height:100%;
}

.HP-meter-enemy .boss-progress{
	background-color: green;
}

.MP-meter-enemy .boss-progress{
	background-color: purple;
	width:70%;
}

#turn-meter{
	width:30%;
	background:orange;
}

#enemy, #allies{
	width:50%;
	height:100%;
	/*border: 2px solid yellow;*/
	display:flex;
	justify-content: center;
	/*flex-wrap: wrap;*/
	/*align-content: space-around;*/
}

#enemy-avatar, .ally-avatar{
	/*border:1px solid white;*/
	background-size:100% 100%;
}

#enemy-avatar{
	width:90%;
	/*sample*/
	/*background:url("https://vignette.wikia.nocookie.net/vsbattles/images/d/dd/Demon-ffvi-ios.png/revision/latest?cb=20160816201328");*/
}

/*avatar class*/
.abraxes{
	background:url("https://vignette.wikia.nocookie.net/vsbattles/images/d/dd/Demon-ffvi-ios.png/revision/latest?cb=20160816201328");
}

.size{background-size:100% 100%;}

/*
|--------------------------------------------------------------------------
| Allies
|--------------------------------------------------------------------------
*/
#avatar{
	width:65%;
	height:100%;
	/*display: inline-flex;*/
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}

.ally-avatar{
	width:45%;
	height:45%;
}

.ball{
	width:60%;
	height:100%;
	/*background-size:100% 100%;*/
	/*border-radius:50%;*/
	/*border:2px solid white;*/
	/*sample*/
	/*background:url("https://cdn.shopify.com/s/files/1/0862/4240/products/1_fff69c51-5a4d-409e-b644-60268ee1570f.gif?v=1441092369");*/
	background-size: 100% 100%;
}

.ally1, .ally2{
	background:url("https://cdn.shopify.com/s/files/1/0862/4240/products/1_fff69c51-5a4d-409e-b644-60268ee1570f.gif?v=1441092369");
	background-size:100% 100%;
}

/*
|--------------------------------------------------------------------------
| Panel
|--------------------------------------------------------------------------
*/

#panel{
	width:30%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	border:1px solid white;
}

#attack{
	z-index: 10;
	position: absolute;
	height: 70vh;
	width:20%;
	right:0;
	background-color:rgba(0,0,0,.8);
	display:none;
}

#panel-head, #attack-head{
	height:10%;
}

.atk-block, .atk-choice{
	height:15%;
	border: 1px solid white;
}

/*.atk-block::before, .atk-choice::before{content:"";display:inline-block!important;width:0;height:0;border-right:30px solid #666666;border-top:30px solid transparent;border-bottom:30px solid transparent}*/

/*
|--------------------------------------------------------------------------
| Ally Status
|--------------------------------------------------------------------------
*/

.status-allies{
	width:24%;
	background-color:#222;
	color:white;
	/*border: 2px solid purple;*/
}

.name-ally{
	height:20%;
}

.HP-meter-ally, .MP-meter-ally{
	height:15%;
	display: flex;
	justify-content: flex-start;
}

.counter{
	width: 20%;
	height: 100%;
	background:black;
	/*color:white;*/
}

.progress{
	/*background-color:green;*/
	width:80%;
	height: 100%;
}

.HP-meter-ally .progress{
	background-color:green;
}

.MP-meter-ally .progress{
	background-color:purple;
}

.status-marker{
	height:50%;
}

